@charset "utf-8";
/* 144c8c */
@font-face { 
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
	  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
	  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face { 
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
	  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
	  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face { 
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face { 
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}
@font-face { 
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
@font-face { 
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
		url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;900&display=swap');


/**** Common ************************************************/

* {max-height:1000000px;margin:0;padding:0;box-sizing:border-box;}
img,fieldset,button {border:none;outline:0}
hr,button img {display:none;}
input,select,button,textarea {vertical-align: top;font-size:15px;font-weight:400;color:#666;line-height:1.63;letter-spacing:-0.04em;font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕','돋움',Dotum,'굴림',Gulim,Tahoma,Verdana,Geneva,sans-serif,Apple Gothic,AppleGothic;box-sizing:border-box;outline:0;}
h1,h2,h3,h4,h5,h6 {letter-spacing: -0.04em;}
input[type=submit] {cursor:pointer;appearance:none;-moz-appearance:none;-webkit-appearance:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
/* select::-ms-expand {display: none;}*/
ul,li {list-style:none;}
a {display:block;font-weight:400;color:#606060;text-decoration:none;vertical-align:top;}
a:hover,a:active,a:focus,a:visited {text-decoration:none;}
table {width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0;text-align:center;}
table img {vertical-align:top;}
th,td {vertical-align:middle;word-wrap:break-word;word-break:break-all;}
form  {margin:0;padding:0;}
/*img {width:100%;vertical-align:top;}*/
img {vertical-align:top;max-width: 100%;}
table img {width:auto;vertical-align:middle;}
legend  {position:absolute;left:0;top:0;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}/* For Screen Reader */ 
caption {width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999px;overflow:hidden;visibility:hidden;}
b {font-weight: 500;}
strong {font-weight: 700;}
center {margin: 0;}
.blind {position:absolute;left:-9999px;top:-9999px;}
.fl {float:left;}
.fr {float:right;}
.mc {margin:0 auto;}
.clear:after {content:"";display:block;clear:both;}
.fawb:before,.fawa:after {font-family:FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscalecolor:#fff;}
.wrap {width: 100%;max-width: 1480px;margin:0 auto;padding: 0 20px;}

body {position:relative;word-break:keep-all;background:#fff;font-size:16px;font-weight:400;color:#666;line-height:1.63;letter-spacing:-0.04em;font-family:'Noto Sans KR','Malgun Gothic','맑은 고딕','돋움',Dotum,'굴림',Gulim,Tahoma,Verdana,Geneva,sans-serif,Apple Gothic,AppleGothic;-webkit-text-size-adjust:none;font-smoothing:antialiased;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
#wrap {position:relative;margin:-1px 0 0;padding:0 0 0 0;width:100%;overflow: hidden;}

select {display: inline;width: 100%;padding: 0 5px;height: 30px;border: 1px solid #ddd;background: #fff url(/img/sel_arw.jpg) no-repeat center right 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none;-webkit-border-radius:0;}
select::-ms-expand{ display:none /* 화살표 없애기 for IE10, 11*/ }
input[type="text"] {outline:0;border: 1px solid #ddd;-webkit-appearance:none;-webkit-border-radius:0;}
input[type="number"] {outline:0;border: 1px solid #ddd;-webkit-appearance:none;-webkit-border-radius:0;text-align: right;}
input[type="password"] {outline:0;border: 1px solid #ddd;-webkit-appearance:none;-webkit-border-radius:0;}
input[type="file"] {max-width: 100%;}
input::-webkit-input-placeholder {color: #666;}
input:-ms-input-placeholder {color: #666;}
textarea::-webkit-input-placeholder {color: #666;}
textarea:-ms-input-placeholder {color: #666;}
input::placeholder {color: #666;}
textarea::placeholder {color: #666;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type="button"] {-webkit-appearance:none;}
input[type="checkbox"],
input[type="radio"]{vertical-align: middle;}

.mo {display: none;}
.pc {display: block;}


/* guide */
	.img_ov {position: relative;}
	.img_ov img {opacity: 1;transition:.3s;}
	.img_ov img.ov {position: absolute;top: 0;left: 0;opacity: 0;}
	.img_ov:hover img {opacity: 0;}
	.img_ov:hover img.ov {opacity: 1;}

	.ul_dot > li {display:block;position:relative;padding-left:0.7778em;}
	.ul_dot > li:last-child {margin-bottom: 0;}
	.ul_dot > li:before {display:block;content:'';position:absolute;top:.7em;left:0;width: 4px;height: 4px;background-color: #e97e26;}
	.ul_dot > li a.link {display: inline;color: #9c1c2b;text-decoration: underline;}

	.ul_dot2 > li {display:block;position:relative;padding-left:1em;}
	.ul_dot2 > li:last-child {margin-bottom: 0;}
	.ul_dot2 > li:before {display:block;content:'';position:absolute;top:.8em;left:0;width: 4px;height: 4px;background-color: #3179bf;}

	.ul_mdot > li {display:block;position:relative;padding-left:.6667em;}
	.ul_mdot > li:before {display:block;content:'';position:absolute;top:0.9em;left:0;width: 3px;height: 3px;background-color: #000;}

	.ul_dot .ul_dash {margin-top: 5px;}

	p.dot {display:block;position:relative;padding-left:.7778em;}
	p.dot:before {display:block;content:'';position:absolute;top:0.6em;left:0;width: 4px;height: 4px;background-color: #e97e26;border-radius:50%;}


	.ul_dash > li {display:block;position:relative;padding-left:0.5em;}
	.ul_dash > li:before {display:block;content:'-';position:absolute;top:0;left:0;}
	.ul_dash > li a {display: inline-block;color: #999;transition:color .3s;}
	.ul_dash > li a:hover {color: #00a3e0;text-decoration: underline;}

	.dash {display:block;position:relative;padding-left:10px;}
	.dash:before {display:block;content:'-';position:absolute;top:0;left:0;}

	.ul_b1 {}
	.ul_b1 > li {display:block;position:relative;padding-left:1.5714em;}
	.ul_b1 > li b {display:block;position:absolute;top:0;left:0;font-weight: 400;}

	.ul_b2 {}
	.ul_b2 > li {display:block;position:relative;padding-left:4.625em;}
	.ul_b2 > li b {display:block;position:absolute;top:0;left:0;font-weight: 500;color: #333;}

	.ul_b3 {}
	.ul_b3 > li {display:block;position:relative;padding-left:2.5em;}
	.ul_b3 > li b {display:block;position:absolute;top:0;left:0;font-weight: 500;color: #333;}

	.ul_b1.ty1 {padding-left: 0;}
	.ul_b2.ty1 {padding-left: 0;}
	.ul_b2 .ul_b1 {padding-left: 0;}
	.ul_b1.ty1 > li {padding-left: 13px;}

	.center_img {position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}

	select.select_ty {max-width: 200px;}
	select.select_ty.ty1 {max-width: 100%;}

	input[type="text"].text_ty {display: inline-block;width: 100%;height: 30px;text-align: left;border: 1px solid #ddd;box-sizing:border-box;padding: 0 10px;}
	input[type="text"].text_ty.ty1 {max-width: 200px;}
	input[type="number"].number_ty {display: inline-block;width: 100%;height: 30px;text-align: right;border: 1px solid #ddd;box-sizing:border-box;padding: 0 10px;}

	input[type="radio"].radio_ty1 {position: absolute;left: -99999px;}
	input[type="radio"].radio_ty1 + label {display: inline-block;height: 16px;line-height: 16px;vertical-align: middle;cursor:pointer;}
	input[type="radio"].radio_ty1 + label:before {display: block;content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
	input[type="radio"].radio_ty1 + label:after {display: inline-block;vertical-align: top;content: '●';width: 15px;height: 15px;font-size: 10px;line-height: 12px;color: #fff;border: 1px solid #ddd;box-sizing:border-box;background-color: #fff;border-radius:50%;box-shadow:0 0 5px rgba(0,0,0,0.1);transition:.3s;}
	input[type="radio"].radio_ty1:checked + label:after {color: #0262c9;}

	input[type="radio"].radio_ty2 {position: absolute;left: -99999px;}
	input[type="radio"].radio_ty2 + label {position: relative;padding-left: 20px;cursor:pointer;}
	input[type="radio"].radio_ty2 + label:before {display: block;content: '●';position: absolute;top: 50%;left: 0;transform:translateY(-50%);width: 16px;height: 16px;font-size: 10px;line-height: 13px;color: #fff;border: 1px solid #ddd;box-sizing:border-box;background-color: #fff;border-radius:50%;box-shadow:0 0 5px rgba(0,0,0,0.1);text-align: center;transition:.3s;}
	input[type="radio"].radio_ty2:checked + label:before {color: #0262c9;}

	input[type="checkbox"] {display: inline-block;vertical-align: middle;}
	input[type="checkbox"].check_ty2 {position: absolute;left: -99999px;}
	input[type="checkbox"].check_ty2 + label {position: relative;padding-left: 20px;cursor:pointer;margin-right: 10px;}
	input[type="checkbox"].check_ty2 + label:before {display: block;content: '■';position: absolute;top: 50%;left: 0;transform:translateY(-50%);width: 16px;height: 16px;font-size: 10px;line-height: 13px;color: #fff;border: 1px solid #ddd;box-sizing:border-box;background-color: #fff;box-shadow:0 0 5px rgba(0,0,0,0.1);text-align: center;transition:.3s;}
	input[type="checkbox"].check_ty2:checked + label:before {color: #0262c9;}

	.layout_tel { display:block; list-style:none; margin:0; padding:0; overflow:hidden; box-sizing:border-box; }
	.layout_tel:after { display:block; content:""; clear:both; }
	.layout_tel li { position:relative; display:block; float:left; width:70px; box-sizing:border-box; }
	.layout_tel li.li {text-align: center;width: 20px; line-height: 28px;}
	.layout_tel li select {width: 100%;height: 30px;line-height: 28px;}
	.layout_tel li input {width: 100%;}

	.layout_email { display:block; list-style:none; margin:0; padding:0; overflow:hidden; box-sizing:border-box; }
	.layout_email li { position:relative; display:block; float:left; width:100px; box-sizing:border-box; }
	.layout_email li.li {text-align: center;width: 20px;line-height: 28px;}
	.layout_email li select {width: 100%;height: 30px;line-height: 28px;padding: 0 5px;}
	.layout_email li input {width: 100%;}
	.layout_email li:last-child {margin-left: 5px;}

	.layout_birth { display:block; list-style:none; margin:0; padding:0; overflow:hidden; box-sizing:border-box; }
	.layout_birth li { position:relative; display:block; float:left; width:55px; box-sizing:border-box; }
	.layout_birth li.li {text-align: center;width: 20px;line-height: 28px;margin-right: 10px;}
	.layout_birth li select {width: 100%;height: 30px;line-height: 28px;padding: 0 5px;}
	.layout_birth li:nth-child(3),
	.layout_birth li:nth-child(5) {width: 35px;}

	input[type="text"].dtp {background: #fff url(/img/ico_cal.png) no-repeat right 10px center;}

	@media (max-width:640px){
		input[type="text"].dtp {background-size: auto 4vw !important;}
		input[type="number"].number_ty,
		input[type="text"].text_ty {height: 8vw;padding: 0 1.5vw;}
	}

/* Table */
	.bs20_box {margin: 0 -20px;}
	.bs20 {border-spacing:20px 0;}

	.stb {display:table;width:100%;table-layout:fixed;}
	.str {display:table-row;}
	.stc {display:table-cell;vertical-align:middle;text-align:center;box-sizing:border-box;}
	.stc-tl {display:table-cell;vertical-align:top;text-align:left;}
	.stc-tr {display:table-cell;vertical-align:top;text-align:right;}
	.stc-tc {display:table-cell;vertical-align:top;text-align:center;}
	.stc-ml {display:table-cell;vertical-align:middle;text-align:left;}
	.stc-mr {display:table-cell;vertical-align:middle;text-align:right;}
	.stc-bl {display:table-cell;vertical-align:bottom;text-align:left;}
	.stc-br {display:table-cell;vertical-align:bottom;text-align:right;}
	.stc-bc {display:table-cell;vertical-align:bottom;text-align:center;}


/* Size */
	.w50 {width: 50px !important;}
	.w70 {width: 70px !important;}
	.w100 {width: 100px !important;}
	.w120 {width: 120px !important;}




#header {position: fixed;top: 0;left: 0;width: 100%;background-color: #ddd;}
#header h1 {float: left;}
#header h1 a {line-height: 60px;width: 140px;text-align: center;background-color: #ccc;transition:.3s;color: #111;}
#header h1 a:hover {background-color: #bbb;}
#header nav {float: right;margin-right: -20px;}
#header nav ul {}
#header nav ul li {float: left;display: table;table-layout: auto;}
#header nav ul li a {padding: 0 40px;display: table-cell;vertical-align: middle;background-color: #ccc;height: 60px;transition:.3s;color: #111;}
#header nav ul li a:hover {background-color: #bbb;}

#body {padding-top: 60px;min-height: 500px;}

#footer {text-align: center;background-color: #ddd;color: #111;line-height: 40px;}